# =========================
# Credentials & secrets
# =========================
.env
credentials/

# =========================
# Logs
# =========================
logs/

# =========================
# Dependencies
# =========================
vendor/