<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le dossier existe, ne rien faire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger tout vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>